# Core dependencies
streamlit>=1.30.0
pandas>=2.0.0
joblib>=1.3.0
scikit-learn>=1.3.0
numpy==1.26.4
matplotlib>=3.7.0
seaborn>=0.12.0
plotly>=5.18.0
umap-learn>=0.5.3
datasets==2.19.1
tokenizers==0.15.2
sentencepiece==0.2.0
torch==2.0.0
transformers==4.35.2

# Optional: For experiment tracking and logging (if used)
wandb>=0.15.0

# Optional: For text generation
click
protobuf
